[Unit]
Description=Crypto ingest every 15 minutes

[Timer]
OnCalendar=*-*-* *:0/15:00
Persistent=true
Unit=twstockals-ingest@crypto.service

[Install]
WantedBy=timers.target
